.home-screen{
    background-color: #fafafa;
}

.fuel-info {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align elements to the left */
    margin-top: 10px;
    max-width: 15%; /* Restrict the width to 15% of the screen width */
    background-color: transparent;
  }
  
  /* Miles Left Text */
  .fuel-info p {
    font-size: 12px;
    margin-left: 0px;
    /* background-color: transparent; Remove this line */
  }
  
  /* Percentage Bar Container */
  .percentage-bar {
    width: 100%; /* Full width of the container */
    height: 7px;
    background-color: #e0e0e0;
    margin-left: 14px;
    max-width: 20%;
    max-height: 10%;
    border-radius: 10px;
  }
  
  /* Percentage Bar Filler */
  .filler {
    height: 100%;
    background-color: #5b84f1;
    transition: width 1s;
    border-radius: 10px; /* Add rounded edges */
  }

  /* Fuel Icon */
  /* .fa fa-gas-pump {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 10px;
    color: black;
    fill: black;
    background-color: transparent

  } */

  .fuel-icon i{  
    font-size: 24px;
    color: black;
    margin-right: 15px;
  }

  .car-image {
    width: 70vw;
    aspect-ratio: 1/1;
    margin: 0 calc(30vw / 2);
    border-radius: 10px;
    background: url(../../public/images.png) no-repeat center center;
    background-size: contain;
  }
  