@font-face {
  font-family: "Avenir Regular";
  src: url(../public/fonts/Avenir\ Regular.ttf);
}

@font-face {
  font-family: "Avenir Heavy";
  src: url(../public/fonts/Avenir\ Heavy.ttf);
}

@font-face {
  font-family: "Avenir Black";
  src: url(../public/fonts/Avenir\ Black.ttf);
}

body {
  margin: 0;
  font-family: "Avenir Regular", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}